* {
  box-sizing: border-box;
  font: inherit;
}

h1{
  text-align: center;
  margin: 0;
  font-size: 2em ;
  font-weight: bold;
  /* font-family: '' */
}

body{
  font-family: sans-serif;
  background: #add8e6;
  font-size: 16;
  line-height: 1.3;
}
.grid-container{
  display: grid;
  grid-template-columns: 25% 43% 32%;
  grid-template-rows: 70vh 30vh;
  justify-content: space-evenly;
}

.grid-item {
  padding: 7px 5px;
}

.col1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.col2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

.row1_2{
  grid-row-start: 1;
  grid-row-end: 2;
}

.col3 {
  grid-column-start: 3;
  grid-column-end: 3;
  margin: 0 2%;
}

.row1 {
  grid-row-start: 1;
  grid-row-end: 1;
}

.row2 {
  height: 30px;
  grid-row-start: 2;
  grid-row-end: 2;
}
.pAboveCanvas{
  display: inline-block;
}
#wordToDraw{
  min-height: 16px;
}
.color_button{
  opacity: 0;
}
.color_button:hover{
  opacity: 1;
}

.textbox{
  overflow: auto;
  background-color: #e8f4f8;
  border: 1px solid black;
}
#userlist{
  margin: 3px 3px;
  width: 95%;
  height: 200px;
  resize: none;
}

#drawingarea{
  /* padding-left: 5%; */
  /* padding-right: 5%; */
  width: 90%;
  padding-top: 100%;
  position: relative;
  height: 100%;
  margin: auto;
}
#canvas{
  max-width: 100%;
  border:1px solid #000;
  background: #FEFEFE;
  max-height: calc(100% - 46px);
}
/* TODO: make button as wide as canvas on wide displays */
#button_clear{
  width: 100%;
  height: 30px;
  height: inherit;
  margin: auto;
  display: block;
}
#button_clear:hover{
  cursor: pointer;
  height: 30px;
}

#chatarea{
  height: 100%;
}
#chat{
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  height: 100%;
  resize: none;
  background: #e8f4f8;
}
input{
   font-family: inherit;
   font-size: inherit;
   width: calc(100% - 62px);
   height: inherit;
}
#send{
  float: right;
  width: 60px;
  height: inherit;
}
/* #canvas:hover{
  cursor: not-allowed;
} */
