* {
  box-sizing: border-box;
  font: inherit;
}

h1{
  text-align: center;
  margin: 0;
  padding: 25px 0 10px 0;
  font-size: 2em ;
  font-weight: bold;
  /* font-family: '' */
}

body{
  font-family: sans-serif;
  background: #ADD8E6;
  font-size: 16;
  line-height: 1.3;
}
.grid-container{
  display: grid;
  grid-template-columns: 25% 43% 32%;
  /* grid-template-rows: 70vh; */
  justify-content: space-evenly;
}

.grid-item {
  padding: 7px 5px;
  cursor:default;
}

.col1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.col2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

.row1_2{
  grid-row-start: 1;
  grid-row-end: 2;
}

.col3 {
  grid-column-start: 3;
  grid-column-end: 3;
  margin: 0 2%;
}

.row1 {
  grid-row-start: 1;
  grid-row-end: 1;
}

#users{
  line-height: 21px;
}

.pAboveCanvas{
  display: inline-block;
}
#wordToDraw{
  min-height: 16px;
  line-height: 21px;
}


.textbox{
  overflow: auto;
  background-color: #E8F4F8;
  border: 1px solid black;
}
#userlist{
  margin: 3px 3px;
  width: 95%;
  height: 200px;
  resize: none;
}

.brush_modifyer{
  padding: 4%;
  margin: 5px 0 0 1px;
  border: 2px solid #000000;
  border-radius: 20%;
  height: 0;
  width:0;
  position: relative;
  background: #E8F4F8;
}
.brush_modifyer:hover{
  cursor: pointer;
  border: 2px solid #FFFFFF;
}

.dot{
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.dot_small{
  height:10%;
  width: 10%;
  left:  45%;
  top:   45%;
}
.dot_medium{
  height:20%;
  width: 20%;
  left:  40%;
  top:   40%;
}
.dot_large{
  height:40%;
  width: 40%;
  left:  30%;
  top:   30%;
}
.dot_huge{
  height:70%;
  width: 70%;
  left:  15%;
  top:   15%;
}
#drawingarea{
  /* padding-left: 5%; */
  /* padding-right: 5%; */
  width: 90%;
  padding-top: 100%;
  position: relative;
  height: 100%;
  margin: auto;
}
#canvas{
  max-width: 100%;
  border: 1px solid #000;
  background: #FFFFFF;
  max-height: calc(100% - 46px);
  touch-action: pinch-zoom;
}
/* TODO: make button as wide as canvas on wide displays */
#button_clear{
  width: 100%;
  height: 30px;
  margin: auto;
  display: block;
}
#button_clear:hover{
  cursor: pointer;
}

#chatarea{
  height: 100%;
}
#chat{
  margin: 3px 3px;
  width: 95%;
  height: 70vh;
  resize: none;
}

input{
   font-family: inherit;
   font-size: inherit;
   width: calc(100% - 62px);
   height: 30px;
}
#send{
  float: right;
  width: 60px;
  height: 30px;
}
#send:hover{
  cursor: pointer;
}

footer{
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background: #9DC8D6;
}
#bottom_row{
  margin: 3px 15px;
}
