* {
  box-sizing: border-box;
  font: inherit;
}

h1{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2em ;
  font-weight: bold;
  /* font-family: '' */
}

body{
  font-family: sans-serif;
  background: #ADD8E6;
  font-size: 16;
  line-height: 1.3;
  position: relative;
  margin: 0;
  min-height: 100vh;
}
.generic_button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #30839f;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
      transition: background 150ms ease-in-out,
                  transform 50ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 7px;
}
.generic_button:focus { outline: 0; }
.generic_button::-moz-focus-inner { border: 0; }
.generic_button:active{
    transform: scale(0.98);
}
.generic_button:hover{
  cursor: pointer;
}
.wrapper{
  margin: 8px;
  display: flex;
  flex-flow: wrap;
  padding-bottom: 3em;
}

.wrapper > * {
  flex: 1 100%;
}

.wrapper-item {
  padding: 0;
}

#users{
  line-height: 21px;
  margin: 12px 0;
}

.pAboveCanvas{
  display: inline;
  overflow: hidden;
}
#wordToDraw{
  min-height: 21px;
  line-height: 21px;
  float: left;
  margin: 12px 0;
}
#timer{
  min-height: 16px;
  line-height: 21px;
  float: right;
  margin: 12px 0;
}

.textbox{
  overflow: auto;
  overflow-wrap: break-word;
  background-color: #E8F4F8;
  border: 1px solid black;
  margin: 8px 0;
}
#userlist{
  margin: 3px 3px;
  width: 95%;
  height: 200px;
  resize: none;
}

.modifyers{
  /* display: none; */
}
#colors{
  /* display: none; */
}
#sizes{
  /* display: none; */
}

.brush_modifyer{
  padding: 5%;
  margin: 4px 2px 0 2px;
  border: 2px solid #000000;
  border-radius: 20%;
  height: 0;
  width:0;
  position: relative;
  background: #E8F4F8;
  float:left;
}
#\#000000, #px10{
  border: 2px solid #FFFFFF;
}
.brush_modifyer:hover{
  cursor: pointer;
  /* !important is so that javascript wont override hover rule first time a button is clicked */
  border: 2px solid #FFFFFF !important;
}

.dot{
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.dot_small{
  height:10%;
  width: 10%;
  left:  45%;
  top:   45%;
}
.dot_medium{
  height:20%;
  width: 20%;
  left:  40%;
  top:   40%;
}
.dot_large{
  height:40%;
  width: 40%;
  left:  30%;
  top:   30%;
}
.dot_huge{
  height:70%;
  width: 70%;
  left:  15%;
  top:   15%;
}
#drawingarea{
  /* padding-left: 5%; */
  /* padding-right: 5%; */
  width: 90%;
  padding-top: 100%;
  position: relative;
  height: 100%;
  margin: auto;
}
#canvas{
  max-width: 100%;
  border: 1px solid #000;
  background: #FFFFFF;
  max-height: calc(100% - 46px);
  touch-action: none;
  touch-action: pinch-zoom;
}

.belowCanvas{
  height: 30px;
  display: flex;
  display: none;
  justify-content: space-between;
}

.belowCanvas > button{
  width: 32%;
  height: 100%;
}
#chat_input{
  display: none;
}
.chat{
  overflow: auto;

  /* fits 10 rows since lineheight is 1.3 */
  height: calc(1.3*10em);
}
#chat_text{
  position: relative;
  top: -100%;
  margin: 3px 3px;
  width: 95%;
  max-height: 99%;
}
#opaque_gradient{
  position: sticky;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
  /* #e8f4f8 */
  background-image: linear-gradient(to bottom, rgba(232,244,248,0), rgba(232,244,248,1));
}

#input_text{
   font-family: inherit;
   font-size: inherit;
   max-width: calc(100% - 60px);
   width: 89%;
   height: 30px;
   border: 1px solid #000;
   border-radius: 7px;
   padding: 0 7px;
}
#send{
  float: right;
  min-width: 55px;
  width: 10%;
  height: 30px;
}

.footer{
  position: absolute;
  bottom: 0;
  left:0;
  margin: 0;
  height: 2em;
  width: 100%;
  background: #9DC8D6;
}
#bottom_row{
  margin: 3px 15px;
}


@media all and (min-width: 600px) {
  .drawingarea {  flex: 2 0px; order: 1; flex-basis: 100%;}
  .chat_input { flex: 1 0px; order: 2; flex-basis: 100%; }
  .scoreboard { flex: 1 0px; order: 3; margin-left: 3px;}
  .chat { flex: 1 0px; order: 3; margin-right: 3px;}
}

@media all and (min-width: 800px) {
  h1 { padding: 25px 0 10px 0; }
  .wrapper_item {
    margin-left: 5px;
    margin-right: 5px;
  }
  /* .modifyers { display: block; max-width: 100%; } */
  #colors { display: block; max-width: 100%; }
  #sizes { display: block; max-width: 100%; }
  #button_colors, #button_sizes{ display:none; }
  #button_clear{ width:100%; }
  #chat_input{ padding: 0 25%;}
  #input_text{ border-radius: 0; padding: 0; }
  .generic_button{ border-radius: 0; }
  .generic_button:hover{background: #276b80;}

  .scoreboard { flex: 1 0px; order: 1; }
  .drawingarea {  flex: 2 0px; order: 2; }

  /* TODO: Better implementation for different screen sizes */
  .chat { flex: 1 0px; order: 3; height: calc(1.3*25em);}

  .chat_input { flex: 1 0px; order: 4; flex-basis: 100%; }
}
